*{
	margin: 0px;
	padding: 0px;
 }
 #loading {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fff url(../images/loader.gif) no-repeat center;
	z-index: 99999999;
}
 body {
    font-family: 'Roboto', sans-serif;
	background-color: #f6f6f6;
 }
//  color section
 $primary-color : #1c1c1c;
 $secondary-color :#ffc60a;
 $font-color : #bebebe;
 
 /*scroling buttom*/
#top {
	background-color:$secondary-color;
	width: 55px;
	height: 50px;
	position: absolute;
	bottom: 40px;
	right: 0px;
	position: fixed;
	z-index: 99;
	cursor: pointer;
	display: none;
	text-align: center;
    animation: fadeInRight 1s cubic-bezier(.77,0,.175,1) 1;

}
#top i {
	font-size: 25px;
	padding-top: 12px;
	color:  $primary-color;
}
// START HEADER============
#header-wrapper {
	background-color: $secondary-color;
	height: auto;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
#header-wrapper li {
	display: inline;
	font-size: 14px;
	color: $font-color;
	text-transform: uppercase;
	font-weight: 600;
	font-style: italic;
}
@media(max-width:576px){
	#header-wrapper li {
		font-size: 12px;
	}
}
@media(max-width:768px){
	#header-wrapper .topmenu {
		margin-right: 8px;
	}
	#header-wrapper .topmenu4 {
		margin-right: 15px !important;
	}
}
#header-wrapper i {
	color: $primary-color;
	padding-right: 7px;
}
#header-wrapper .topmenu {
	margin-right: 15px;
}
#header-wrapper .topmenu4 {
	margin-right: 80px;
}
#header-wrapper li a {
   color:$primary-color;
   text-decoration: unset;
}
#header-wrapper li a:hover {
   color: #666;
   text-decoration: unset;
}
#header-wrapper .r-text {
   text-align: right;
}
@media(max-width: 992px) {
   #header-wrapper .r-text {
	   text-align: center;
   }
   #header-wrapper .q-text {
	   text-align: center;
   }
   
}

// navigation?
.my-nav {
	background-color: $primary-color!important;
	//box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	//border-bottom: 5px solid $secondary-color;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: $secondary-color;
    border: unset;
	border-radius: 0;
}
.navbar-nav {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
.my-nav .nav-link {
	color: $font-color!important;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}
@media(max-width:992px) {
	.my-nav {
		padding-top: 15px !important;
		padding-bottom: 15px !important;
	}
	.my-nav .navbar-brand img {
		width: 50%;
	}
	.my-nav .donate .btn {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}
}
@media(max-width:576px) {
	.my-nav .donate .btn {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.my-nav h1 {
		display: none;
	}
}
@media(min-width:992px){
	.my-nav .nav-link {
		color: $font-color!important;
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		padding-top: 38px;
		padding-bottom: 38px;
		padding-left: 22px !important;
		padding-right: 22px !important;
	}
}


.my-nav .nav-link:hover {
	background-color:transparent;
	color: $secondary-color !important;
}
.my-nav .nav-link:hover i {
	color: $secondary-color !important;
}
.my-nav .active {
	color:$secondary-color !important;
	//border-bottom: 5px solid $secondary-color;
}
.my-nav .dropdown-menu {
	background-color: $primary-color;
	border: unset;
    border-top: 1px solid $secondary-color;
	
}
.my-nav .dropdown-item {
	color: $font-color;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}
.my-nav .dropdown-item:hover {
	background-color: unset;
	color: $secondary-color;
}
.my-nav h1 {
	text-align: left;
	color: #313131;
	font-weight: 800;

}
.navbar-fixed {
	top: 0;
	z-index: 100;
	position: fixed;
	width: 100%;
	// padding-top: 15px;
	// padding-bottom: 15px;
	 transition: 0.6s !important;
  }
  nav.black {
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		background-color: $primary-color !important;
		height: auto;
	
		transition: 0.6s !important;
	}
	nav.black .nav-link:hover {
		color: $secondary-color!important;
	}
	
	@media all and (min-width: 992px) {
		.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
		.navbar .nav-item:hover .nav-link{ color: #fff;  }
		.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
		.navbar .dropdown-menu.fade-up{ top:180%;  }
		.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
	}
	.navbar .has-megamenu {
		position: static !important;
	  }
	  
	  .navbar .megamenu {
		left: 9%;
		right: 9%;
		width: 80%;
		padding-left: 11%;
		padding-bottom: 20px;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		border: 1px solid rgba(0, 0, 0, 0.15);
		border-top: unset;

	  }
	  .navbar .megamenu .nav-link {
		  padding-top: 8px !important;
		  padding-bottom: 8px !important;
		  color: $font-color;
		  font-weight: 400;
	  }
	  .navbar .megamenu .card {
		  border: $primary-color;
	  }
	  .navbar .megamenu .card img {
		width: 100%;
		height: 70px;
	}
	.navbar .megamenu .card .news {
		background-color: rgba(0, 0, 0, 0.829);
		color: $font-color;
		margin-top: -20px;
		padding-top: 15px;
	}
	.navbar .megamenu .card .news h5 {
		font-size: 14px;
		text-align: center;
	}
	.navbar .megamenu a {
		font-size: 12px !important;
		color: #666;
		text-align: center;
	}
	.navbar .megamenu h6 {
		font-size: 12px !important;
		color: #666;
		text-align: center;
		padding-top: 10px;
	}
	  .navbar .megamenu h3 {
		color: $secondary-color;
		font-size: 15px;
	}
	  .navbar .megamenu i {
		  color: rgb(83, 83, 83) !important;
		  padding-right: 10px;
	  }
	.my-nav .donate  {
		background: $secondary-color;
	    border-radius: 7px;
		padding: 2px 2px;
		transform: skew(
	-20deg
	);
	}
.my-nav .donate .btn {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 12px;
	padding-bottom: 12px;
	color: $primary-color;
	background-color: $secondary-color;
	border: unset;
	font-weight: 800;
	text-transform: uppercase;
	box-shadow: unset;
	font-size: 16px;
	border-radius: 10px;
}
.my-nav .donate .btn:hover {
	color: #929292;
}

// slider
.slider-wrapper .item {
	height: 470px;
	position: relative;
  }
 
  .slider-wrapper .item img {
	width: 100%;
	height: 470px;
	object-fit: cover;
  }
  .slider-wrapper .item .cover {
	padding: 75px 0;
	position: absolute;
	width: 100%;
	height: 470px;
	top: 0;
	left: 0;
    background: rgba(0, 0, 0, 0.376);
   // background-image: -webkit-linear-gradient( 0deg, #11abb2 50%, rgba(0, 0, 0, 0.144) 50%);
	display: flex;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(161, 31, 31, 0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	// border-style: dashed;
	
  }
  .slider-wrapper .item .cover .header-content {
	position: relative;
	// padding: 56px;
	overflow: hidden;
	margin-top: 0px;
  }
  .slider-wrapper .item .cover .header-content .line {
	content: "";
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	// border: 9px solid $secondary-color;
	-webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
	clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  }
  .slider-wrapper .item .cover .header-content h2 {
	font-weight: 600;
	font-size: 35px;
	color: $secondary-color;
	text-transform: uppercase;
  }
  .slider-wrapper .item .cover .header-content h1 {
	font-size: 50px;
	font-weight: 900;
	margin: 5px 0 20px;
	word-spacing: 3px;
	color: $secondary-color;
	text-transform: uppercase;
  }
  @media(max-width:1200px){
	.slider-wrapper .item .cover .header-content h1 {
		font-size: 40px;
	}  
  }
  @media(max-width:992px){
	.slider-wrapper .item .cover .header-content h1 {
		font-size: 30px;
	} 
	.slider-wrapper .item .cover .header-content h4 {
		font-size: 17px !important;
	} 
  }
  @media(max-width:768px){
	.slider-wrapper .item .cover .header-content h1 {
		font-size: 25px;
	} 
	.slider-wrapper .item .cover .header-content h4 {
		font-size: 15px !important;
		line-height: 20px !important;
	} 
  }
  @media(max-width:576px){
	.slider-wrapper .item .cover .header-content h1 {
		font-size: 18px;
	} 
	.slider-wrapper .item .cover .header-content h4 {
		font-size: 13px !important;
	} 
	.slider-wrapper .item .cover {
		height: 300px !important;
	}
	.slider-wrapper .item img {
		height: 300px !important;
	}
	.owl-carousel .owl-stage-outer {
		height: 300px !important;
	}
  }
  .slider-wrapper .item .cover .header-content h4 {
	font-size: 20px;
	font-weight: 400;
	margin-top: -10px;
	color: $font-color;
	line-height: 26px;
  }
  .slider-wrapper .owl-item.active h1 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.3s;
  }
  .slider-wrapper .owl-item.active h2 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInDown;
	animation-delay: 0.1s;
  }
  .slider-wrapper .owl-item.active h4 {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInUp;
	animation-delay: 0.9s;
  }
  .slider-wrapper .owl-item.active .line {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-name: fadeInLeft;
	animation-delay: 0.3s;
  }
  .slider-wrapper .owl-nav .owl-prev {
	position: absolute;
	left: 15px;
	top: 43%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5) !important;
	width: 50px;
	cursor: pointer;
	height: 50px;
	display: block;
	z-index: 1000;
	border-radius: 50%;
	font-size: 50px;
  }
  .slider-wrapper .owl-nav .owl-prev span {
	font-size: 1.6875rem;
	color: #fff;
  }
  .slider-wrapper .owl-nav .owl-prev:focus {
	outline: 0;
  }
  .slider-wrapper .owl-nav .owl-prev:hover {
	background: #000 !important;
  }
  .slider-wrapper .owl-nav .owl-next {
	position: absolute;
	right: 15px;
	top: 43%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	background: rgba(0, 0, 0, 0.5) !important;
	width: 50px;
	cursor: pointer;
	height: 50px;
	position: absolute;
	display: block;
	z-index: 1000;
	border-radius: 50%;
  }
  .slider-wrapper .owl-nav .owl-next span {
	font-size: 1.6875rem;
	color: #fff;
  }
  .slider-wrapper .owl-nav .owl-next:focus {
	outline: 0;
  }
  .slider-wrapper .owl-nav .owl-next:hover {
	background: #000 !important;
  }
  .slider-wrapper:hover .owl-prev {
	left: 0px;
	opacity: 1;
  }
  .slider-wrapper:hover .owl-next {
	right: 0px;
	opacity: 1;
  }
//   message-from-chariman============
#message-from-chariman {
	background-image: url(../images/chairman.jpg);
	width: 100%;
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 70px;
}
#message-from-chariman h2 {
	color: $secondary-color;
}
#message-from-chariman p {
	color: $font-color;
	font-style: italic;
}
#message-from-chariman h4 {
	color: $font-color;
}
#message-from-chariman a {
	color: $font-color;
	text-decoration: none;
}
#message-from-chariman span {
	border-bottom: 1px solid $font-color;
}
#message-from-chariman span:hover a {
	color: $secondary-color !important;
}
#message-from-chariman span:hover {
	border-color: $secondary-color;

}

// services-wrapper=========
#services-wrapper {
	padding-top: 70px;
	padding-bottom: 70px;
}
#services-wrapper .service-box img {
	padding-left: 50px;
	padding-right: 60px;
}
#services-wrapper .service-box {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
#services-wrapper .service-box .btn {
	background-color: unset;
	border: 1px solid #929292;
	padding-left: 30px;
	padding-right: 30px;
	transition: 0.6s;
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
#services-wrapper .service-box .btn:hover {
	background-color: $secondary-color;
	border-color: $secondary-color;
	color: $primary-color;
}
#services-wrapper .service-box .btn .dots {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border:1px solid #929292;
	display: inline-block;
}

#services-wrapper .service-box h3 {
	padding-top: 20px;
	padding-bottom: 10px;
}
@media(max-width:992px) {
	#services-wrapper .service-box .btn {
		padding-left: auto;
		padding-right: auto;
		font-size: 13px;
	}
	#services-wrapper .service-box {
		text-align: center;
		padding-left: 0px;
		padding-right: 0px;
	}
}
// our-projects================
#our-projects {
	padding-top: 50px;
}
#our-projects .icons {
	width: 100px;
	height: 100px;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 50px;
	text-align: center;
}
#our-projects .title {
	position: absolute;
	top: 0;
	left: 170px;
	text-align: center;
	padding-right: 15px;
}
#our-projects .title h1 {
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
}
@media(max-width:768px) {
	#our-projects .title h1 {
		font-size: 20px;
		padding: 10px;
	}
}
@media(max-width:576px){
	#our-projects .men1 {
		padding-right: 15px !important;
	}
	#our-projects .men2 {
		padding-left: 15px !important;
	}
	#our-projects .meeting-img img {
		margin-top: 20px;
		
	}
	#our-projects .project-content-area .hr-tag {
		text-align: center;
		padding-left: 15px !important;
	}
	#our-projects .title h1 {
	  font-size: 13px;

	}
	#our-projects .project-content-area .email-phone {
		text-align: left;
	}
}
	

#our-projects .meeting-img {
	position: relative;
	margin-top: -80px;
	z-index: -1;
}
#our-projects .meeting-img img {
	height: 270px;
	width: 100%;
}
#our-projects .slant-2 svg {
	position: relative;
	top: -110px;
	left: 0;
	right: 0;
	margin-bottom: 0;
}
#our-projects .project-content-area {
	background-color: $primary-color;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -120px;
	padding-left: 30px;
	padding-right: 30px;
}
#our-projects .project-content-area p {
	color: $font-color;	
}
#our-projects .project-content-area span {
	color: $secondary-color;
}
#our-projects .project-content-area .hr-tag hr {
	background-color: $secondary-color;
	width: 150px;
}
#our-projects .project-content-area .hr-tag {
	text-align: center;
	padding-left: 150px;
}
#our-projects .project-content-area .email-phone {
	text-align: center;
}
#our-projects .project-content-area .email-phone h6 {
	color: $font-color;
}
#our-projects .smart-class {
	background-color: #5a5a5a;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}
#our-projects .smart-class h3 {
	color: #fff;
}
#our-projects .smart-class p {
	color:$font-color;
}
#our-projects .smart-class .btn .dots {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border:1px solid #929292;
	display: inline-block;

}
#our-projects .smart-class .btn {
	background-color: transparent;
	border: unset;
	box-shadow: unset;
	color: $font-color;
	padding-left: 0;
}
#our-projects .smart-class .btn:hover {
	color: $secondary-color;
}
#our-projects .smart-class .btn:hover .dots {
border-color: $secondary-color;
}
#our-projects .smart-class .donatenow {
	border: 2px solid $font-color;
	box-shadow: unset;
	border-radius: 0;
	padding-left: 30px;
	padding-right: 30px;
}
#our-projects .smart-class i {
	color:$font-color;
}
// end-6 col
#our-projects .project-title {
	font-weight: 700;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
#our-projects .men1 {
	padding-right: 7px;
}
#our-projects .men2 {
	padding-left: 7px;
}

// start class of==============
#class-off {
	padding-top: 70px;
}
#class-off .main3 {
	padding-right: 0px;
}
#class-off .main4 {
	padding-left: 0px;
}
@media(max-width:1200px) {
	#class-off .smart-class p {
		font-size: 13px;
	}

}
@media(max-width:992px) {
	#class-off .smart-class h3 {
		font-size: 15px;
	}
	#class-off .smart-class p {
		font-size: 10px;
	}
	
}
@media(max-width:768px){
	#class-off .main3 {
		padding-right: 15px;
	}
	#class-off .main4 {
		padding-left: 15px;
	}
	#class-off .smart-class p {
		font-size: 14px;
	}
	#class-off .smart-class h3 { 
		font-size: 23px;
	}
	#class-off .icon-img {
		display: none;
	}
	 
}
 #class-off .main-cover {
	 background-color: #110a0a;
	 width: 100%;
	 height: 340px;
	 padding-top: 40px;
	 padding-bottom: 40px;
	 padding-left: 20px;
	 padding-right: 20px;
 }
 #class-off .main-cover .icon-title {
	 text-align: center;
 }
 #class-off .main-cover .icon-title img {
	 width: 70px;
	 height: 70px;
	 border: 50%;
 }
 #class-off .main-cover h3 {
	 color: $secondary-color;
	 padding-top: 20px;
 }
 #class-off .main-cover h4 {
	color: $font-color;
}
#class-off .main-cover p {
	color: $font-color;
}
#class-off .smart-class {
	background-color: #5a5a5a;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	height: 340px;
}
#class-off .smart-class h3 {
	color: #fff;
}
#class-off .smart-class p {
	color:$font-color;
}
#class-off .smart-class .btn .dots {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border:1px solid #929292;
	display: inline-block;

}
#class-off .smart-class .btn {
	background-color: transparent;
	border: unset;
	box-shadow: unset;
	color: $font-color;
	padding-left: 0;
}
#class-off .smart-class .btn:hover {
	color: $secondary-color;
}
#class-off .smart-class .btn:hover .dots {
border-color: $secondary-color;
}
#class-off .smart-class .donatenow {
	border: 2px solid $font-color;
	box-shadow: unset;
	border-radius: 0;
	padding-left: 30px;
	padding-right: 30px;
}
#class-off .smart-class i {
	color:$font-color;
}

// news-wrapper===========
#news-wrapper {
	background-image: url(../images/news.png);
	width: 100%;
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 70px;
}
#news-details {
	margin-top: -60px;
}
#news-details .card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: 0.5s;
	background-color: #f6f6f6;
}
@media(max-width:992px) {
	#news-details .card {
		margin-top: 15px;
	}
}
#news-details .card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#news-details .card:hover h5 {
	color: $secondary-color;
}

// start form============
#form-main {
	padding-top: 70px;
}
#form-main .form-control {
	height: 50px;
	//box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: 2px solid rgba(0,0,0,.125);
	border-radius: 0;
}
#form-main .btn {
	height: 50px;
	background-color: #fff;
	border: 2px solid $secondary-color;
	border-radius: 0;
	color: #666;
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 600;
}
#form-main .btn:hover {
	background-color: $secondary-color;
}
#form-main form {
	padding-left: 150px;
	padding-right: 150px;
}
@media(max-width:1200px) {
	#form-main form {
		padding-left: 0px;
		padding-right: 0px;
	}
}
@media(max-width:768px) {
	#form-main form h2{
		font-size: 20px;
	}
}
// event-news-wrapper==========
#event-news-wrapper {
	padding-top: 70px;
	padding-bottom: 40px;
	background-color: #e4e4e4;
	height: auto;
	margin-top: 70px;

}
@media(max-width:576px) {
	#event-news-wrapper img {
		display: none;
	}
}
#event-news-wrapper .event-box span {
	background-color: $secondary-color;
	font-size: 26px;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	color: rgb(30, 114, 224);
}
#event-news-wrapper .event-box .card-body {
	padding-top: 0px;
	padding-bottom: 0px;
}
#event-news-wrapper .event-box .card h4 {
	font-size: 18px;
	font-weight: 600;
	color: #666;
}
#event-news-wrapper .event-box .card h5 {
	font-size: 15px;
 font-weight: 400;
 color: #7a7a7a;

}
#event-news-wrapper .event-box .m-card {
	margin-top: 30px;
}
#event-news-wrapper .event-box .card {
	border: unset;
	background-color: unset;
	padding-top: 8px;
}
#event-news-wrapper .news-box span {
	background-color: $secondary-color;
	font-size: 26px;
	font-weight: 600;
	padding-left: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	color: rgb(30, 114, 224);
}
#event-news-wrapper .news-box .news {
	padding-top: 30px;
}
#event-news-wrapper .news-box hr {
	margin: 0;
	padding: 0;
}
#event-news-wrapper .news-box p {
	color: #7a7a7a;
}
// #sponsors ===========
#sponsors {
	background-color: $primary-color;
	padding-top: 40px;
	padding-bottom: 40px;
}
@media(max-width:768px) {
	#sponsors .s-img {
		margin-top: 30px;
		text-align: left;
	}
	#sponsors .s-cover {
		text-align: left;
	}
	#sponsors h3 {
		text-align: left;
	}
}
#sponsors .s-title p {
  line-height: 5px;
}
#sponsors .s-title {
	text-align: right;
}
#sponsors .s-cover {
	padding-top: 10px;
}
#sponsors .s-img {
	text-align: center;
}
#sponsors h3 {
	color: #fff;
}
#sponsors p {
	color: $font-color;
}
#sponsors a {
	color: $secondary-color;
}

// START FOOTER ==========
#footer-wrapper {
	background-color: #2f2f2f;
	padding-top: 60px;
	padding-bottom: 50px;
}
#footer-wrapper a {
	color:#8e8e8e;
	text-decoration: none;
}
#footer-wrapper a:hover {
	color: $secondary-color;
}
#footer-wrapper li {
	list-style: none;
	color: #8e8e8e;
}
@media(max-width:768px) {
	#footer-wrapper h3 {
		padding-top: 40px;
		padding-bottom: 0;
	}
}
#footer-wrapper h3 {
	color: $secondary-color;
	padding-bottom: 20px;
}
#footer-wrapper p {
	color: #8e8e8e;
}
#footer-wrapper img {
	padding-top: 30px;
}
// power-by=====
#power-by {
	background-color: $primary-color;
	padding-top: 20px;
	padding-bottom: 8px;
}
#power-by p {
	color: #757575;
}
#power-by li {
	list-style: none;
	display: inline;
	padding-left: 20px;
	font-size: 13px;
}
@media(max-width:768px) {
	#power-by li {
		padding-left: 10px;
		font-size: 10px;
	}
	#power-by {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	#power-by p {
		padding-left: 10px;
	}
}
#power-by a {
	color: #757575;
}
#power-by a:hover {
	color: $secondary-color;
}

// END HOME PAGES=============
// END HOME PAGES=============
#common-page {
	padding-top: 70px;
	padding-bottom: 70px;

}
#common-page .common-cover {
	background-color: $secondary-color;
	width: 80%;
	height: 60px;
}
#common-page h2 {
	font-size: 60px;
	font-weight: 600;
	margin-top: -100px;
	padding-left: 20px;
}
@media(max-width:576px){
#common-page h2 {
	font-size: 40px;
	margin-top: -80px;
}	
}
// about===========

#about .video-loop {
	padding-top: 30px;
}
#about iframe {
	width: 80%;
}
@media(max-width:768px) {
#about iframe {
	width: 100%;
}	
}
// we-found-dation============
#we-found-dation {
	background-image: url(../images/bbb.jpeg);
	width: 100%;
	height:600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 70px;
	margin-top: 70px;
}
#we-found-dation .main-title {
	padding-bottom: 30px;
	color: #fff;
	font-size: 22px;
}
#we-found-dation .mm {
	margin-top: 60px;
}
#we-found-dation .card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#we-found-dation .card .sp-img {
	overflow: hidden;
	border-radius: 8px;
}
#we-found-dation .card .sp-img img {
	width: 100%;
	height: 350px;
	transition: 0.6s;
	border-radius: 8px;
}
#we-found-dation .card .t-content {
	width: 100%;
	height: 350px;
	transition: 0.6s;
	background-color: rgba(0, 0, 0, 0.609);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	border-radius: 8px;
}
#we-found-dation .card:hover img {
	transform: scale(1.5);
}
#we-found-dation .card {
	border: unset;
	border-radius: 8px;
}
#we-found-dation .card span {
	background-color: $primary-color;
	color: $secondary-color;
	text-transform: uppercase;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-top: 5px;
	font-size: 13px;
	border-radius: 0 6px 6px 0px;
}
#we-found-dation .card .t-content .help-title h5 {
	color: $secondary-color;
}
#we-found-dation .card .t-content .help-title {
	margin-left: 15px;
	margin-top: 200px;
}
#we-found-dation .card .t-content .help-title p {
	color: $font-color;
	font-size: 13px;
	padding-right: 15px;
}
#we-found-dation h2 {
	text-align: left;
	text-transform: uppercase;
    font-weight: 800;
	font-size: 70px;
	color: #fff;
}
@media(max-width:768px) {
	#we-found-dation h2 {
		font-size: 40px;
	}
	#we-found-dation {
		height: auto;
		padding-bottom: 40px;
	}
	#we-found-dation .mm {
		margin-top: 0px;
	}
	#we-found-dation .card {
		margin-top: 30px;
	}	
}
@media(max-width:576px) {
	#we-found-dation h2 {
		font-size: 28px;
	}
	#we-found-dation .main-title {
		font-size: 14px;
	}	
}
#we-found-dation .heading-title {
	text-align: center;
	color: $secondary-color;
}
// foundation-detail========
#foundation-detail {
	margin-top: 200px;
}
@media(max-width:768px) {
	#foundation-detail {
		margin-top: 70px;
	}
}
// #place-we-work =========
@media(max-width:768px) {
	#place-we-work .main-c1 {
		padding-right: 15px !important;
	}
	#place-we-work .main-c2 {
		padding-left: 15px !important;
	}
	#place-we-work .slant {
		display: none;
	}
}
#place-we-work {
	padding-top: 50px;
	padding-bottom: 70px;
	
}
#place-we-work .work-title {
	background-color: $secondary-color;
	padding: 50px;
	height: 300px;
}
#place-we-work .place-cover {
	background-color: #dedede;
	height: 300px;
	
}
#place-we-work .main-c1 {
	padding-right: 0px;
}
#place-we-work .main-c2 {
	padding-left: 0px;
}
#place-we-work .slant {
	background-color: #dedede;
	height: 60px;
	width: 60px;
	transform: rotate(45deg);
	position: absolute;
	left: -25px;
	top: 130px;
}
#place-we-work .office-title {
	padding-top: 100px;
	padding-left: 50px;
	padding-right: 50px;
}

// START DIRECTORS==========
#about span {
	font-weight: 600;
	font-size: 22px;
	border-bottom: 2px solid $secondary-color;
}
#directors-wrapper {
	padding-bottom: 70px;
}
#directors-wrapper .card {
	margin-top: 30px;
}
#directors-wrapper .card h5 {
	font-size: 30px;
	color: $secondary-color;
}
#directors-wrapper .card-body {
    padding-top: 50px;
}
// contact-form-wrapper=============
#contact-form-wrapper {
	background-color: #e4e4e4;
	width: 100%;
	height: 370px;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 70px;
	margin-bottom: 340px;
}
@media(max-width:768px){
	#contact-form-wrapper {
		height: auto;
		margin-bottom: 60px;
	}
}
#contact-form-wrapper h2 {
	color: $secondary-color;
}
#contact-form-wrapper span {
	font-weight: 800;
	color: #666;
	padding-right: 5px;
}
#contact-form-wrapper h5 {
	color: #a5a5a5;
	font-weight: 400;
}
#contact-form-wrapper .form-cover .form-control {
	height: 50px;
	border-radius: 0;
	box-shadow: unset;
	background-color: #e4e4e4;
}
#contact-form-wrapper .form-cover {
	background-color: $secondary-color;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
}
#contact-form-wrapper .form-cover label {
	line-height: 10px;
	font-weight: 600;
}
#contact-form-wrapper .form-cover .btn {
	background-color: $primary-color;
	border-radius: 0;
	border: unset;
}
#contact-form-wrapper .form-cover .btn:hover {
	color: $secondary-color;
}
// START endowment-wrap========
#endowment-wrap {
	background-image: url(../images/endo.png);
	width: 100%;
	height:250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
#endowment-wrap .endow-box {
	background-color: rgba(236, 60, 60, 0.726);
	width: 100%;
	height: 250px;
	padding-left: 20px;
	padding-top: 20px;
}
#endowment-wrap .endow-box h4 {
	color: $secondary-color;
}
#endowment-wrap .endow-box span {
	color: $font-color;
}
#endowment-wrap .endow-box p {
	color: $font-color;
	font-size: 13px;
	padding-top: 20px;
}
#endowment-wrap .endow-box .slant {
	width: 100px;
	height: 15px;
	background-color: $secondary-color;
	float: right;
	margin-top: 30px;
}

#endowment-wrap .endow-box .indow-donate {
	text-align: right;
	padding-right: 15px;
}
#endowment-wrap .endow-box .indow-donate a {
	color: $secondary-color;
	text-decoration: none;
	font-size: 13px;
}
@media(max-width:992px) {
	#endowment-wrap .endow-box .indow-donate {
		margin-top: -20px;
	}
}
#endowment-wrap .endow-box i {
	color: $secondary-color;
	font-size: 40px;
}
#endowment-wrap .endow-box .indow-donate a:hover {
	color: $primary-color;
}
#endowment-wrap .title-h {
	text-align: right;
}
#endowment-wrap .title-h h2 {
	color: #fff;
	font-weight: 600;
	padding-top: 150px;
} 
// endowment-grent==========
#endowment-grent .form-cover {
	background-color: $secondary-color;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 5px solid rgb(236, 60, 60);
}
#endowment-grent .form-cover label {
	line-height: 10px;
	font-weight: 600;
}
#endowment-grent .form-cover .form-control {
	height: 45px;
	border-radius: 0;
	box-shadow: unset;
}
#endowment-grent .form-cover .btn {
	border-radius: 0;
	background-color: rgb(236, 60, 60);
	border-color: rgb(236, 60, 60);
	box-shadow: unset;
	border-bottom: 5px solid rgb(158, 37, 37);
	padding-left: 20px;
	padding-right: 20px;
}
#endowment-grent .form-cover .btn:hover {
	color: $primary-color;
}
#endowment-grent .grant-wrap-title {
	padding-top: 50px;
}
#endowment-grent .slant {
	width: 100px;
	height: 100px;
	background-color: $secondary-color;
	transform: rotate(50deg);
	margin-top: 50px;
	z-index: -22;
}
@media(max-width:768px) {
	#endowment-grent .slant {
		display: none;
	}
}
// contribution==========
#contribution {
	background-color: $secondary-color;
    margin-top: -70px;
	height: 100px;
	z-index: 9;
	position: relative;
}
@media(max-width:768px) {
	#contribution {
		height: auto;
		display: none;
	}
	
}
#contribution h1 {
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}

// partship===========
#partship {
	background-image: url(../images/endo.png);
	width: 100%;
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 70px;
	padding-bottom: 70px;
	padding-top: 70px;
	text-align: center;
}
#partship h2 {
	font-size: 60px;
	color: #fff;
	font-weight: 800;
}
@media(max-width:992px) {
	#partship h2 {
		font-size: 30px;
	}
}
// alert=======
#alert {
	padding-top: 70px;
}
#alert .alert-light {
	background-color: rgb(221, 221, 221);
	border: 2px solid $font-color;
}
@media(max-width:992px) {
	#alert h2 {
		padding-top: 30px;
	}
}
// collapes=================
.faq-section .mb-0 > a {
	display: block;
	position: relative;
  }
  
  .faq-section .mb-0 > a:after {
	content: "\f067";
	font-family: "Font Awesome 5 Free";
	position: absolute;
	right: 0;
	font-weight: 600;
  }
  .faq-section .mb-0 > a[aria-expanded="true"]:after {
	content: "\f068";
	font-family: "Font Awesome 5 Free";
	font-weight: 600;
  }
//   event=================
#event-wrapp {
	background-image: url(../images/endo.png);
	width: 100%;
	height:auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-bottom: 50px;
	padding-top: 70px;
	text-align: left;
}
#event-wrapp h2 {
	color: #fff;
	font-weight: 800;
	text-transform: uppercase;
}
#event-wrapp .btn {
	box-shadow: unset;
	border-radius: 0;
	border:2px solid #fff;
	color: #fff;
}
#event-wrapp .btn:hover {
	background-color: $primary-color;
}
#event-wrapp p {
	color: #fff;
}
// vartual-event-wrapp=======
#vartual-event-wrapp {
	padding-top: 70px;
	padding-bottom: 50px;
}
#vartual-event-wrapp h2 {
	text-align: center;
	font-weight: 600;
	color: #666;
	text-transform: uppercase;
}
#vartual-event-wrapp .the-mico {
	background-color: #fff;
	height: auto;
	margin-top: 40px;
}
#vartual-event-wrapp .mico-logo {
text-align: center;
}
#vartual-event-wrapp .mico-logo img {
	width: 200px;
}
#vartual-event-wrapp .the-mico-title {
	margin-top: -100px;
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
}
@media(max-width:992px) {
	#vartual-event-wrapp .the-mico-title {
		padding-left: 100px;
	padding-right: 100px;
	}
}
@media(max-width:768px) {
	#vartual-event-wrapp .the-mico-title {
		padding-left: 20px;
	padding-right: 10px;
	}
}
@media(max-width:576px) {
	#vartual-event-wrapp .the-mico-title {
		padding-left: 15px;
	padding-right: 15px;
	}
}
#vartual-event-wrapp .the-mico-university-title {
	padding: 30px;
}
#vartual-event-wrapp .the-mico-university-title2 {
	padding: 30px;
}
#vartual-event-wrapp .the-mico-university-title2 li {
	list-style: none;
}
#vartual-event-wrapp .the-mico-university-title2 i {
	color: $secondary-color;
	padding-right: 10px;
}
#vartual-event-wrapp h4 {
	color: $secondary-color;
}
#vartual-event-wrapp .coming-soon-btn {
	text-align: center;
	padding-bottom: 40px;
}
#vartual-event-wrapp .coming-soon-btn .btn {
	text-transform: uppercase;
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: 600;
}

// recent-events===========
#recent-events {
	margin-bottom: 70px;
}
#recent-events .recent-cover {
	background-color: #fff;
	height: auto;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
#recent-events .recent-cover h2 {
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}
#recent-events .card {
	border-radius: 0;
	border: unset;
	background-color: #f6f6f6;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-top: 40px;
}
#recent-events .card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#recent-events .card .btn {
	background-color: unset;
	padding-left: 0px;
	color: #666;
	border: unset;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 13px;
	box-shadow: unset;
	margin-top: 20px;
}
#recent-events .card .btn:hover {
	color: $secondary-color;
}
#recent-events .card h5 {
	font-weight: 600;
	color: #313131;
}
#recent-events .card hr {
	background-color: $secondary-color;
	border: 2px solid $secondary-color;
	margin: 0;
	padding: 0;
	width: 30%;
}
// e-events-wrapper=============
#e-events-wrapper {
	margin-bottom: 70px;
}
#e-events-wrapper .card {
	background-color: $secondary-color;
	border: unset;
	margin-top: 30px;
}
#e-events-wrapper .card h6 {
	padding-top: 50px;
	font-size: 14px;
}
#e-events-wrapper .card h5 {
	font-weight: 600;
}
#e-events-wrapper .card p {
	font-size: 14px;
}
#e-events-wrapper .card a {
	color: $primary-color;
	text-decoration: none;
}
#e-events-wrapper .card a:hover {
	color: #666;
}
#e-events-wrapper .card span {
	font-weight: 600;
}
#e-events-wrapper .card img {
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 15px;
}
@media(max-width:768px){
	#e-events-wrapper .card img {
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
	}
	#e-events-wrapper .card h6 {
		padding-top: 0px;	
	}
	#e-events-wrapper .card {
		padding: 50px;
	}
}
// MESSAGE====================
#message-wrapper {
	margin-bottom: 70px;
}
#message-wrapper .card {
	background-color: rgb(211, 211, 211);
	border: unset;
	margin-top: 30px;
}
#message-wrapper .card-body {
	text-align: right;
	padding-right: 40px;
}
#message-wrapper .card h6 {
	padding-top: 50px;
	font-size: 30px;
}
#message-wrapper .card h5 {
	font-weight: 600;
}
#message-wrapper .card p {
	font-size: 14px;
}
#message-wrapper .card a {
	color: $primary-color;
	text-decoration: none;
}
#message-wrapper .card a:hover {
	color: #666;
}
#message-wrapper .card span {
	font-weight: 600;
}
#message-wrapper .card img {
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 15px;
}

@media(max-width:768px){
	#message-wrapper .card img {
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
	}
	#message-wrapper .card h6 {
		padding-top: 0px;	
	}
	#message-wrapper .card {
		padding: 50px;
	}
}
// messages2222222=========
#messagess-wrapper {
	background-color: #e6e6e6;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-bottom: 70px;
}
#messagess-wrapper p {
	text-align: justify;
}
#messagess-wrapper h3 {
	color: $secondary-color;
	font-weight: 600;
}
@media(max-width:768px){
	#messagess-wrapper h3 {
		padding-top: 30px;
	}
}
#messagess-wrapper h4 {
	color: $secondary-color;
	font-weight: 600;
}
#messagess-wrapper .title {
	padding-top: 35px;
}
#messagess-wrapper .title-2 {
margin-top: -15px;
}
#messagess-wrapper .next-btn {
	text-align: right;
}
#messagess-wrapper .next-btn .btn {
border: unset;
box-shadow: unset;
border-radius: 0;
padding-left: 20px;
padding-right: 20px;
}
#messagess-wrapper .next-btn .btn:hover {
	color: $secondary-color;
}
// MISSION VISION==========

#mision-wrapper {
	background-image: url(../images/endo.png);
	width: 100%;
	height:600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-radius: 0px 0px 40% 40%;
}
@media(max-width:992px){
	#mision-wrapper2 .mission-detail {
		padding-left: 80px !important;
		padding-right: 80px !important;
	}
}
@media(max-width:768px){
	#mision-wrapper2 .mission-detail {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	#mision-wrapper2 p {
		font-size: 13px;
	}
	#mision-wrapper2 {
		border-radius: 0px 0px 20% 20% !important;
	}
	#mision-wrapper {
		border-radius: 0px 0px 12% 12%;
	}
}
@media(max-width:576px) {
	#mision-wrapper2 .end-p {
		display: none;
	}
}
#mision-wrapper2 {
	background-color: #f6f6f6c9;
	width: 100%;
	height: 420px;
	margin-bottom: 70px;
	border-radius: 0px 0px 50% 50%;
	position: relative;
	margin-top: -400px;
	
}
#mision-wrapper2 h2 {
	text-align: center;
	font-weight: 600;
	padding-top: 30px;
}
#mision-wrapper2 .mission-detail {
	padding-left: 150px;
	padding-right: 150px;
}
// vision-wrapper=========
#vision-wrapper {
	margin-bottom: 70px;
}
#vision-wrapper h3 {
	text-align: right;
	font-weight: 700;
}
#vision-wrapper .v-img {
	text-align: right;
}
#vision-wrapper .v-content {
	background-color: $secondary-color;
	padding: 40px;
}
#vision-wrapper .vision-img {
	width: 80px;
	padding-bottom: 30px;
}
// core-value===============
#core-value {
	background-color: rgb(219, 219, 219);
	width: 100%;
	height: 420px;
	margin-bottom: 0px;
	border-radius: 50% 50% 0% 0%;
}
@media(max-width:768px){
	#core-value {
		border-radius: 10% 10% 0% 0% !important;
		height: auto;
		padding-bottom: 30px;
	}
}
#core-value h2 {
	text-align: center;
	padding-top: 40px;
}
#core-value .icon-wrapper {
	text-align: center;
	margin-top: 25px;
}
#core-value .icon-wrapper h4 {
	font-size: 15px;
}
#core-value .icon-wrapper i {
	font-size: 50px;
}
// news details=============
#news-details {
	padding-top: 60px;
}
#news-details .micro-propose {
	background-color: $primary-color;
	color: $font-color;
	margin-top: 100px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
}
@media(max-width:992px){
	#news-details .micro-propose h3 {
		font-size: 20px;
	}
	#news-details .micro-propose {
		margin-top: 60px;
	}
}
@media(max-width:768px){
	#news-details .micro-propose-img img {
		width: 100%;
	}
	#news-details .main-1 {
		padding-right: 15px !important;
	}
	#news-details .main-2 {
		padding-left: 15px !important;
	}
	#news-details .micro-propose {
		margin-top: 0px;
	}
}
#news-details .main-1 {
	padding-right: 0px;
}
#news-details .main-2 {
	padding-left: 0px;
}
// news-stories=======
#news-stories {
	margin-bottom: 70px;
}
@media(max-width:768px){
	#news-stories h2 {
	padding-top: 30px;
	}
}
// other-news===========
#other-news {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: rgb(233, 233, 233);
}
#other-news .btn {
	padding-left: 0;
	background-color: unset;
	border: unset;
	box-shadow: unset;
	color: $primary-color;
	font-weight: 600;
	font-size: 13px;
}
#other-news .card {
	border: unset;
}
#other-news .card p {
	font-size: 13px;
}

@media(max-width:768px){
	#other-news .card {
    margin-top: 30px;
	}
}

// START NEWS ROOM===========
#newroom-wrapper {
	margin-bottom: 70px;
}
#newroom-wrapper .card {
	background-color: #fff;
	border: unset;
	margin-top: 30px;
}
#newroom-wrapper .card h6 {
	padding-top: 50px;
	font-size: 14px;
}
#newroom-wrapper .card h5 {
	font-weight: 600;
}
#newroom-wrapper .card p {
	font-size: 14px;
}
#newroom-wrapper .card a {
	color: $primary-color;
	text-decoration: none;
}
#newroom-wrapper .card a:hover {
	color: $secondary-color;
}
#newroom-wrapper .card span {
	font-weight: 600;
}
#newroom-wrapper .card img {
	padding-left: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 15px;
}
@media(max-width:768px){
	#newroom-wrapper .card img {
		padding-left: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
	}
	#newroom-wrapper .card h6 {
		padding-top: 0px;	
	}
	#newroom-wrapper .card {
		padding: 50px;
	}
}
// News-room-stories===========

#news-stories-wrap {
	width: 100%;
	height:auto;
	background-color: #e7e7e7;
	padding-top: 70px;
	padding-bottom: 70px;
	margin-top: 70px;
}
#news-stories-wrap .n-story span {
    font-size: 35px;
	font-weight: 600;
	background-color: rgb(250, 218, 160);
	padding: 10px 30px;
}
#news-stories-wrap .n-story {
	margin-bottom: 40px;
}
#news-stories-wrap .card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: 0.5s;
	background-color: #f6f6f6;
}
#news-stories-wrap .card a {
	color: $primary-color;
	font-weight: 600;
	text-decoration: none;
}
#news-stories-wrap .card a:hover {
	color: $secondary-color;
}
@media(max-width:992px) {
	#news-stories-wrap .card {
		margin-top: 15px;
	}
}
#news-stories-wrap .card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#news-stories-wrap .card:hover h5 {
	color: $secondary-color;
}
#news-stories-wrap h6 {
	margin-bottom: 30px;
	color: #8e8e8e;
}

// projects-wrapper==========
#projects-wrapper {
	padding-bottom: 70px;
}
#projects-wrapper .smart {
	background-color: $primary-color;
	padding-top: 50px;
	padding-bottom: 50px;
 }
 #projects-wrapper .smart h2 {
	 color: $font-color;
	 text-align: center;
 }
 #projects-wrapper .smart-img {
	 text-align: center;
	 margin-top: -30px;
 }
 #projects-wrapper .smart-img img {
	 width: 500px;
	 height: 400px;
 }
 #projects-wrapper p {
	 padding-top: 20px;
 }
 @media(max-width:768px){
	#projects-wrapper .smart-img img {
		width: 400px;
		height: 300px;
	}
 }
 @media(max-width:576px){
	#projects-wrapper .smart-img img {
		width: 250px;
		height: 150px;
	}
 }
//  recource-center===========
#recource-center {
	padding-bottom: 70px;
}
#recource-center h5 {
	font-weight: 600;
	padding-bottom: 10px;
}
#recource-center .form-control {
	height: 50px;
	border-radius: 0;
	box-shadow: unset;
	background-color: #e4e4e4;
}
#recource-center label {
	line-height: 10px;
}
#recource-center form {
	padding-top: 75px;
}
#recource-center hr {
	background-color: $primary-color;
	border:10px solid $primary-color
}
#recource-center p {
	padding-bottom: 10px;
}
#recource-center .general-report {
	padding-top: 60px;
}
#recource-center .general-report span {
	font-size: 20px;
	border-bottom: 3px solid #5c2323;
	font-weight: 800;
}
#recource-center .general-report a {
	color: $primary-color;
	text-decoration: none;
}
#recource-center .general-report h3 {
	color: #7a7a7a;
}
#recource-center .general-report .rep {
	text-transform: uppercase;
}
#recource-center .general-report h1 {
	font-weight: 600;
}
// sponship-wrapper=======
#sponship-wrapper hr {
	background-color: $font-color;
	margin-top: 36px;
}
#sponship-wrapper .main-1 {
	padding-right: 0px;
}
#sponship-wrapper .application-img {
	padding-top: 40px;
}
// project-bulder==========
#project-bulder {
	padding-top: 70px;
	padding-bottom: 70px;
}
#project-bulder h2 {
	text-align: center;
    font-weight: 600;
}
#project-bulder .sp-form-wrapper span {
	color: red;
}

#project-bulder .btn  {
	background: $primary-color;
	box-shadow: unset;
	border: unset;
	color: $secondary-color;
	font-weight: 800;
	font-size: 30px;
	border-radius: 7px;
	padding: 10px 50px;
	transform: skew(
-20deg
);
}
#project-bulder .sp-btn {
	text-align: center;
	padding-top: 20px;
}
#project-bulder .btn:hover {
	background-color: $secondary-color;
	color: $primary-color;
}
#project-bulder .form-control {
	height: 50px;
	border-radius: 0;
	background-color: rgb(233, 233, 233);
	box-shadow: unset;
}
#project-bulder .form-control:focus {
    border-color: $secondary-color !important;
    outline: 0; 
}
#project-bulder label {
	line-height: 10px;
	font-weight: 600;
}

// staff-team-wrapper=========
#staff-team-wrapper {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
}
#staff-team-wrapper .staff-img p {
	padding-top: 30px;
	font-style: italic;
}
#staff-team-wrapper .staff-img hr {
	margin: 0;
	padding: 0;
	border: 2px solid rgb(7, 192, 238);
	width: 20%;
}
// video-staff===========
#video-staff {
	padding-bottom: 70px;
}
#video-staff .staff-content .accountent {
	background-color: #dfdfdf;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
#video-staff .staff-content p {
	padding-top: 15px;
	padding-bottom: 15px;
}
#video-staff .staff-content {
	margin-top: 30px;
}
#video-staff .video {
	margin-top: 40px;
}
#video-staff .staff-content h6 {
	font-weight: 600;
}
#video-staff .staff-content h4 {
	font-weight: 600;
}
#video-staff .video iframe {
	width: 100%;
}

// trustees-wrapper=============
#trustees-wrapper {
	margin-bottom: 70px;
}
#trustees-wrapper .trust-title {
	border: 3px solid #d7d7d7;
	margin-left: 150px;
	margin-right: 150px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 30px;
	border-radius: 40px;
}
@media(max-width:1200px) {
	#trustees-wrapper .trust-title {
	margin-left: 100px;
	margin-right: 100px;
	}
}
@media(max-width:992px) {
	#trustees-wrapper .trust-title {
	margin-left: 15px;
	margin-right: 15px;
	}
}
#trustees-wrapper .trust-title span {
	font-size: 50px;
	line-height: 15px;
	font-weight: 600;
}
#trustees-wrapper .trust-title li {
	list-style: none;
	font-weight: 600;
	color: $font-color;
}
#trustees-wrapper .trust-title i {
	font-size: 40px;
	color: #d7d7d7;
}
#trustees-wrapper .trust-title .icons-top {
	background-color: #f6f6f6;
	width: 70px;
	height: 60px;
	margin-top: -70px;
    border-radius: 50%;
	text-align: center;
}
#trustees-wrapper .trust-title .icons-down {
	background-color: #f6f6f6;
	width: 70px;
	height: 60px;
	margin-top: 10px;
    border-radius: 50%;
	float: right;
	text-align: center;
}
// trust-box-wrapper=========
#trust-box-wrapper img {
	height: 280px;
	width: 100%;
	border-radius: 25px;
}
@media(max-width:768px) {
	#trust-box-wrapper img {
		height: 350px;
		width: 100%;
		border-radius: 25px;
		margin-top: 30px;
	}
}
#trust-box-wrapper h4 {
	font-weight: 600;
}
#trust-box-wrapper hr {
	background-color: $secondary-color;
	border: 2px solid $secondary-color;
	margin-top: 30px;
}
#trust-box-wrapper a {
	color: $secondary-color;
	text-decoration: none;
}
#trust-box-wrapper span {
	font-weight: 700;
}
#trust-box-wrapper p {
	padding-top: 15px;
}
// trust-people=======
#trust-people {
	padding-top: 70px;
}
#trust-people .card {
	background-color: #e6e6e6;
	border: unset;
	margin-top: 40px;
}
#trust-people img {
	padding-top: 40px;
	padding-left: 30px;
	padding-right: 30px;
	height: 300px;
	width: 100%;
}
@media(max-width:768px) {
	#trust-people img {
		height: 350px;
		width: 100%;
		border-radius: 25px;
		margin-top: 30px;
	}
}
#trust-people .card-body {
	padding-left: 35px;
	padding-right: 35px;
}
#trust-people a {
	color: $secondary-color;
	text-decoration: none;
}
#trust-people h5 {
	font-size: 24px;
	color: $secondary-color;
	font-weight: 600;
}
#trust-people {
	padding-bottom: 90px;
}
#trust-people h2 {
	padding-top: 70px;
	font-weight: 600;
	padding-bottom: 15px;
}
// work-with us============
#work-with .work-img {
	text-align: center;
	padding-top: 50px;
}
#work-with .work-img img {
	width: 100%;
	height: auto;
}
#work-with .vartual-title {
	margin-top: 70px;
	background-color: rgb(224, 224, 224);
	padding: 20px;
}
#work-with .main-1 {
	padding-right: 0px;
}
#work-with .main-2 {
	padding-left: 0px;
}
@media(max-width:768px){
	#work-with .main-1 {
		padding-right: 15px;
	}
	#work-with .main-2 {
		padding-left: 15px;
	}
}
#work-with .vartual-img {
	padding-top: 70px;
}
#work-with .vartual-img img {
	width: 100%;
}
#work-with h2 {
	font-weight: 600;
}
// project-bulder
#project-bulder .the-found {
	background-color: $primary-color;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
#project-bulder .the-found li {
	padding-left: 10px;
	color: $font-color;
	padding-right: 10px;
	padding-top: 10px;
}
#project-bulder .the-found ul {
	padding-left: 30px;
	padding-right: 30px;
}
#project-bulder h5 {
	color: $secondary-color;
	font-weight: 600;
}
@media(max-width:768px){
	#project-bulder .the-found {
		margin-top: 40px;
	}
	
}

// START DONATE==========
#donate-wrapper img {
	width: 100%;
	height: auto;
}
#donate-wrapper .main-1 {
	padding-right: 0;
}
#donate-wrapper .main-2 {
	padding-left: 0;
}
#donate-wrapper .chose-title {
	background-color: #e8d59f7d;
	border-top: 2px solid $secondary-color;
	border-right: 2px solid $secondary-color;
	padding-right: 15px;
	padding-top: 40px;
	padding-bottom: 40px;
	box-shadow: -5px -5px 100px 5px #fff, -5px 0px 0px -5px #fff;
}
@media(max-width:768px){
	#donate-wrapper .main-1 {
		padding-right: 15px !important;
	}
	#donate-wrapper .main-2 {
		padding-left: 15px !important;
	
	}
}
#donate-wrapper ol {
	font-size: 16px;
	padding-left: 55px;
}
#donate-wrapper li {
	font-size: 40px;
	font-weight: 600;
	color: #dc890e;
}
#donate-wrapper span {
	font-size: 30px;
	font-weight: 600;
}
#primary-mision {
	padding-top: 70px;
}
#primary-mision h4 {
	padding-bottom: 40px;
}
#primary-mision hr {
	background-color: $secondary-color;
	margin-top: 10px;
}
#primary-mision .col-1 {
	padding-right: 0px;
}
#primary-mision p {
	font-weight: 600;
}
#primary-mision .primary-img {
	padding-top: 160px;
}
@media(max-width:768px){
	#primary-mision .primary-img {
		padding-top: 50px;
	}
	#primary-mision .primary-img img {
		width:100%;
	}
}
// make-donation======
#make-donation {
	padding-top: 70px;
	padding-bottom: 70px;
}
#make-donation h2 {
	font-weight: 600;
	text-align: center;
	padding-bottom: 40px;
}
#make-donation .card {
	background-color: rgb(233, 233, 233);
	border-radius: 25px;
	transition: 0.5s;
	text-align: center;
}
#make-donation .card .make-d-img img {
	width: 150px;
	height: 150px;
	text-align: center;
	display: inline;
	padding-top: 30px;
	padding-bottom: 10px;
}
#make-donation .card .make-d-img {
	text-align: center;
   
}

#make-donation .bdr {
	border: 2px solid green;
}
#make-donation .bdr h5 {
	color: green;
}
#make-donation .card h5 {
	font-size: 14px;
	text-align: center;
}
#make-donation .card a {
	color: #666;
	text-decoration: none;
}
#make-donation .card:hover a {
	color: green;
}
#make-donation .card:hover {
	background-color: rgb(237, 248, 237);
}

// donate Amount========

#donation-amount label {
	font-weight: 600;
	line-height: 10px;
}
#donation-amount h2 {
	padding-top: 20px;
	padding-bottom: 20px;
}
#donation-amount h5 {
	padding-bottom: 30px;
}
#donation-amount .form-control {
	height: 45px;
	border-radius: 0;
	background-color: #eeeeee;
	box-shadow: unset;
}
#donation-amount .form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: $secondary-color;
    outline: 0;
}
#donation-amount span {
	color: red;
}
#donation-amount .nav-pills .nav-link {
    border-radius: .25rem;
    background-color: rgb(230, 230, 230);
	padding: 10px 20px;
	font-weight: 600;
	font-size: 17px;
	color: #000;
}
@media(max-width:768px){
	#donation-amount .nav-pills .nav-link {
		font-size: 15px;
		padding: 5px 10px;
	}
	#donation-amount .n {
	margin-left: 5px;
}
}
@media(max-width:576px){
	#donation-amount .n {
	margin-left: 3px !important;
}
}
#donation-amount .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: $primary-color;
    background-color: $secondary-color;
}
#donation-amount .n {
	margin-left: 20px;
}
#donation-amount img {
	width: 100%;
	height: 200px;
	background-color: transparent;
}
#donation-amount .card {
	background-color: transparent;
	padding: 20px;
	margin-top: -120px;
}
#donation-amount .card .rised {
	background: url(../images/donate-v-lines.svg) repeat-x center center transparent;
    position: relative;
    height: 20px;

}
#donation-amount .card .rised::before {
    content: "";
    position: absolute;
    top: 0px;
    background: #fd5c35;
    height: 20px;
    width: 40%;
}
#donation-amount .card .percent {
	text-align: center;
	width: 40px;
	height: 30px;
	color: #fff;
	background-color: #fd5c35;
	margin-left: 80px;
	margin-bottom: 20px;
	padding-top: 3px;
	margin-top: -30px;
}
#donation-amount .card h5 {
	padding-top: 20px;
}
#donation-amount .card .mico-fency {
	padding-top: 30px;
}
#donation-amount .card .share-on span {
	background-color: $primary-color;
	color: $secondary-color;
	padding: 10px 15px;
	cursor: pointer;
}
#donation-amount .card .share-on span:hover {
	background-color: $secondary-color;
	color: $primary-color;
}
#donation-amount .card .share-on i {
	font-size: 15px;
}
#donation-amount .card .mico-ads {
	padding-top: 25px;
}
@media(max-width:768px){
	#donation-amount .card {
		margin-bottom: 50px;
	}
}
// second tabs======
#donation-amount {
	padding-bottom: 70px;
}
#donation-amount .nav-link img {
	height: 100px;
	width: 100px;
}
@media(max-width:576px){
	#donation-amount .nav-link img {
		height: 70px;
		width: 70px;
	}
}
@media(max-width:576px){
	#donation-amount .input-group-text1 {
		display: none !important;
	}
	#donation-amount .input-group-text2 {
		display: none !important;
	}
	#donation-amount .input-group-text3 {
		display: none !important;
	}
	#donation-amount .input-group-text4 {
		display: none !important;
	}
}
#donation-amount .input-group-text1 {
	background-image: url(../images/c4.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 4px;
	z-index: 999;
	opacity: 0.4;
}
#donation-amount .input-group-text2 {
	background-image: url(../images/c3.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 70px;
	z-index: 999;
	opacity: 0.4;
}
#donation-amount .input-group-text3 {
	background-image: url(../images/c2.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 130px;
	z-index: 999;
	opacity: 0.4;
}
#donation-amount .input-group-text4 {
	background-image: url(../images/c1.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 220px;
	z-index: 999;
	opacity: 0.4;
}
#donation-amount .amount {
	border:3px solid #dfdfdf;
	padding: 20px 50px;
	margin-top: 20px;
}
#donation-amount .amount h1 {
	font-weight: 600;
}
#donation-amount .btn {
    background: $secondary-color;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: unset;
    color: $primary-color;
    font-weight: 800;
    font-size: 20px;
    border-radius: 7px;
    padding: 10px 30px;
    -webkit-transform: skew(
-20deg
);
    transform: skew(
-20deg
);
}
#donation-amount .sp-btn {
	padding-left: 40px;
	padding-top: 30px;
}
#donation-amount .sp-btn .btn:hover {
	background-color: $primary-color;
	color: $secondary-color;
}
#donation-amount .cvv {
	margin-top: -25px !important;
}
@media(max-width:768px) {
	#donation-amount .cvv {
		margin-top: 0px !important;
	}
}
// START HISTORY=========
#our-history .mico-title-area {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	width: 50%;
	margin-top: -30px;
	z-index: 99;
	position: relative;
}
@media(max-width:768px){
	#our-history .mico-title-area {
		width: 90%;
	}
}
// #history-detail
#history-detail {
	padding-top: 0px;
	padding-bottom: 70px;
}
#history-detail img {
	height: 250px;
	width: 100%;
    margin-top: 30px;
}
#history-detail .charman {
	border-right: 8px solid rgb(219, 219, 219);
	padding-right: 20px;
	margin-top:40px;
	padding-bottom: 10px;
	text-align: right;
	//padding-top: 20px;
	margin-top: -30px;
}
#history-detail .charman h5 {
	font-weight: 600;
	padding-top: 15px;
}
#history-detail .dot {
	width: 25px;
	height: 25px;
	background-color: rgb(219, 219, 219);
	border-radius: 50%;
	float: right;
	margin-right: -10px;
	margin-top: -60px;
	
}
#history-detail .detals {
	background-color: #eaeaea;
	padding-top: 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	margin-top: 70px;
}
#history-detail .detals p {
	padding-top: 30px;
}
// history-down-banner======
#history-down-banner .h-banner {
	background-image: url(../images/endo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	padding: 50px;
}
#history-down-banner {
	padding-top: 70px;
	padding-bottom: 70px;
}
#history-down-banner h2 {
	color: #fff;
	
}
#history-down-banner p {
	color: #fff;
}
#history-down-banner .btn {
	box-shadow: unset;
	border-radius: 0;
	font-weight: 800;
	padding-left: 30px;
	padding-right: 30px;
	border: unset;
}